#words {
	width: 90%;
}

#wordsearch {
	font-size: 1.5cm;
	border-collapse: collapse;
	margin: 0 auto;
}

#wordsearch td {
	width: 1.5em;
	height: 1.5em;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #555;
}
#wordsearch input {
    width: 1.3em;
	height: 1.3em;
	padding: 0;
    font-size: 1.5em;
    border: 0;
    text-align: center;
	text-transform: uppercase;
}
.explanation {
	text-align: center;
}

#directions {
	display: inline-block;
	vertical-align: middle;
}

#directions td {
	position: relative;
	cursor: pointer;
	color: #aaa;
	width: 1em;
	height: 1em;
	text-align: center;
	font-size: 1.5em;
}
#directions td.on {
	color: black;
	font-weight: bold;
}

@media print {
	.control {
		display: none;
	}
}
